.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img-wrapper img{
   width: 90px
}

.cart-wrapper{
  height: 150px;
    width: 500px;
    border: 1px solid #ccc;
}

.item{
  float:left;
  position:relative;
}

.text-wrapper{
  padding: 50px 20px 50px;
}

.btn-wrapper button{
  padding: 10px;
  border: 0px;
  background-color: red;
  color: white;
  border-radius: 4px;
  box-shadow: black 0px 1px 4px;
  margin: 50px 0px;
}

.add-to-cart img{
  width: 5px;
  position: absolute;
    right: 10%;
    top: 1%
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
